In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
fuel_data = pd.read_csv('fuel_ferc1.csv')
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Number 1

In [48]:
A = [1,2,3]
B = [4,5,6]
A.extend(B)
A

[1, 2, 3, 4, 5, 6]

## Number 2

In [49]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Number 3

In [50]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [51]:
fuel_data['fuel_type_code_pudl'].unique()

array(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], dtype=object)

In [52]:
col_param = ['fuel_cost_per_unit_burned']
for col_value in data['fuel_type_code_pudl'].unique():
    if col_value=='coal':
        coal = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='gas':
        gas = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='nuclear':
        nuclear = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='oil':
        oil = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='waste':
        waste = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='other':
        other = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()

In [53]:
coal

fuel_cost_per_unit_burned    67.42183
dtype: float64

In [54]:
gas

fuel_cost_per_unit_burned    13.659397
dtype: float64

In [55]:
nuclear

fuel_cost_per_unit_burned    4955.157002
dtype: float64

In [56]:
oil

fuel_cost_per_unit_burned    168.877086
dtype: float64

In [57]:
waste

fuel_cost_per_unit_burned    19.518122
dtype: float64

In [58]:
other

fuel_cost_per_unit_burned    18.253856
dtype: float64

## Number 4

In [59]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

## Number 5

In [60]:
skew_param = fuel_data['fuel_qty_burned'].skew()
print(f'The skew of quantity burned in 2 dp is {round(skew_param, 2)}')

The skew of quantity burned in 2 dp is 15.85

In [61]:
kurt_param = fuel_data['fuel_qty_burned'].kurt()
print(f'The kurt of quantity burned in 2 dp is {round(kurt_param, 2)}')

The kurt of quantity burned in 2 dp is 651.37

## Number 6

In [62]:
fuel_data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [63]:
missing_param = fuel_data['fuel_unit'].isna().sum()/len(fuel_data) *100
round(missing_param, 3)

0.61

## Number 7

In [64]:
fuel_data['fuel_unit'].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

This data is categorical data and it will be filled by mode

## Number 8

In [65]:
fuel_data.corr()['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [66]:
fuel_data.corr()['fuel_cost_per_unit_burned'].min()

-0.03786270759997195

In [67]:
fuel_data.corr()['fuel_cost_per_unit_burned'].max()

1.0

## Number 9

In [68]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [69]:
Q9_param1 = fuel_data.loc[(data['fuel_type_code_pudl']=='coal') & (fuel_data['report_year']==1998), 'fuel_cost_per_unit_burned']
Q9_param1.mean()

27.61623433874713

In [70]:
Q9_param2 = data.loc[(data['fuel_type_code_pudl']=='coal') & (data['report_year']==1994), 'fuel_cost_per_unit_burned']
Q9_param2.mean()

31.546467368421077

In [71]:
(Q9_param1.mean()-Q9_param2.mean())/Q9_param1.mean()

-0.14231603706228724

## Number 10

In [72]:
col_param = ['fuel_cost_per_unit_delivered']
for col_value in data['fuel_type_code_pudl'].unique():
    if col_value=='coal':
        coal = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='gas':
        gas = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='nuclear':
        nuclear = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='oil':
        oil = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='waste':
        waste = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()
    elif col_value=='other':
        other = fuel_data.loc[fuel_data['fuel_type_code_pudl']==col_value, col_param].mean()

In [73]:
maximum_average = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].apply(lambda x: x.mean())
maximum_average = pd.DataFrame(maximum_average)
maximum_average

             fuel_cost_per_unit_delivered
report_year
1994                            63.636060
1995                            32.735269
1996                          9196.705948
1997                         11140.197239
1998                           287.154420
1999                            25.551627
2000                           985.362877
2001                            60.050396
2002                            47.594361
2003                            55.663493
2004                           139.524275
2005                            41.438184
2006                            38.657484
2007                            43.325023
2008                            58.588197
2009                           652.694163
2010                            91.862105
2011                            59.774667
2012                            60.994502
2013                           172.307591
2014                           192.737183
2015                           326.535511
2016                           103.901761
2017                            46.196861
2018                           499.269966

In [74]:
maximum_average.max()

fuel_cost_per_unit_delivered    11140.197239
dtype: float64